/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto-v19-cyrillic_latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v19-cyrillic_latin-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/roboto-v19-cyrillic_latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/roboto-v19-cyrillic_latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-500italic - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
       url("../fonts/roboto-v19-cyrillic_latin-500italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v19-cyrillic_latin-500italic.woff") format("woff"), /* Modern Browsers */
       url("../fonts/roboto-v19-cyrillic_latin-500italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/roboto-v19-cyrillic_latin-500italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/roboto-v19-cyrillic_latin-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v19-cyrillic_latin-700.woff") format("woff"), /* Modern Browsers */
       url("../fonts/roboto-v19-cyrillic_latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/roboto-v19-cyrillic_latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}



/* ==================== $COMMON ==================== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", "Helvetica CY", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  color: #585858;
  background-color: #f8f8f8;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.page-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==================== / COMMON ==================== */



/* ==================== $HELPERS ==================== */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
  font-weight: 500;
}

.custom-list {
  margin: 0;
  padding: 0;
}

.custom-list__item {
  list-style: none;
}

.custom-list__item::before {
  content: "";
  position: relative;
  top: 5px;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  background-image: url("../img/ok.svg");
}

/* ==================== / HELPERS ==================== */



/* ==================== $TOAST ==================== */
.toast {
  position: absolute;
  /*bottom: calc(100% + 70px);*/
  bottom: 160px;
  left: 50%;
  display: none;
  width: 100%;
  max-width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-transform: initial;
  color: #000;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 6px 16px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 16px 12px rgba(0, 0, 0, 0.25);
}

.toast__text {
  display: block;
  padding: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ededed;
  text-align: center;
}

.toast__action {
  display: block;
  padding: 10px;
  padding-top: 8px;
}

.toast__btn {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #dae0e5;
  border-radius: 3px;
  font-size: 80%;
  text-align: center;
  vertical-align: middle;
  color: #2196f3;
  background-color: #e2e6ea;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.toast__btn:focus {
  -webkit-box-shadow: initial;
          box-shadow: initial;
}

@-webkit-keyframes tooltip {
  100% {
    opacity: 1;
    bottom: calc(100% + 30px);
  }
}

@keyframes tooltip {
  100% {
    opacity: 1;
    bottom: calc(100% + 30px);
  }
}
/* ==================== / TOAST ==================== */



/* ==================== $PAGE-HEADER ==================== */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 5.5px 0;
  color: #fff;
  background-color: #6675ff;
  -webkit-box-shadow: 0 2px 3px 2px rgba(32, 33, 36, 0.2);
          box-shadow: 0 2px 3px 2px rgba(32, 33, 36, 0.2);
}

.page-header__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.page-header__btn:focus {
  outline: none;
}

/* ==================== $ICON-BURGER ==================== */
.icon-burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29px;
  height: 29px;
}

.icon-burger::before,
.icon-burger::after {
  content: "";
}

.icon-burger::before,
.icon-burger::after,
.icon-burger__inner {
  position: absolute;
  width: 29px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.icon-burger__inner--1 {
  top: 0;
}

.icon-burger::before,
.icon-burger::after {
  top: 13.4px;
}

.icon-burger::after {
  right: 0;
}

.icon-burger__inner--2 {
  bottom: 0;
}

.icon-burger--open .icon-burger__inner--1 {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  background-color: transparent;
}

.icon-burger--open.icon-burger::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-burger--open.icon-burger::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icon-burger--open .icon-burger__inner--2 {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  background-color: transparent;
}
/* ==================== / ICON-BURGER ==================== */

.page-header__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 30px 0 10px;
}

.page-header__text {
  margin: 0;
  text-align: center;
}
/* ==================== / PAGE-HEADER ==================== */



/* ==================== $CALCULATOR ==================== */
.calculator {
  position: relative;
  padding: 20px 0 30px;
  border-radius: 5px;
}

.calculator__row {
  margin-bottom: 30px;
  padding: 0 10px;
  border: solid 1px #bbdefb;
  border-radius: 5px;
}

.calculator__descr {
  position: relative;
  top: 6px;
  font-size: 17px;
  text-align: center;
}

.calculator__label {
  position: relative;
  display: block;
  font: inherit;
}

.calculator__field {
  display: block;
  margin: 0;
  border: none;
  border-top: solid 25px transparent;
  padding: 0 0 4px;
  width: 100%;
  height: inherit;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  font: inherit;
  line-height: inherit;
  caret-color: rgb(33, 150, 243);
  -webkit-transition: border-bottom 0.2s, background-color 0.2s;
  -o-transition: border-bottom 0.2s, background-color 0.2s;
  transition: border-bottom 0.2s, background-color 0.2s;
}

.calculator__select {
  color: rgba(0, 0, 0, 0.6);
}

.calculator__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding: 7px 5px 0;
  color: #BDBDBD;
  font-size: 75%;
  line-height: 18px;
  pointer-events: none;
  -webkit-transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  -o-transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

.calculator__option {
  font: inherit;
  color: rgba(0, 0, 0, 0.6);
}

.calculator__field+.calculator__placeholder::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(33, 150, 243);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.calculator__field:not(:focus):placeholder-shown+.calculator__placeholder {
  font-size: inherit;
  line-height: 56px;
}

.calculator__field:focus {
  outline: none;
}

.calculator__field:focus+.calculator__placeholder {
  color: rgb(33, 150, 243);
}

.calculator__field:focus+.calculator__placeholder::before {
  opacity: 0.12;
}

.calculator__field:focus+.calculator__placeholder::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.calculator__calc-btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border: 2px solid rgb(33, 150, 243);
  border-radius: 5px;
  font: inherit;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  outline: none;
/*  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);*/
}

/*.calculator__calc-btn:before {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background-color: rgb(33, 150, 243);
  top: 0;
  left: 50%;
  z-index: -1;
  -webkit-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  transition: all 0ms ease;
}*/

.calculator__calc-btn:focus {
  color: #fff;
  background-color: rgb(33, 150, 243);
/*  -webkit-box-shadow: none;
          box-shadow: none;*/
}

/*.calculator__calc-btn:focus:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(33, 150, 243);
  top: 0;
  left: 0%;
  z-index: -1;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}*/

.calculator__calc-btn:focus .toast {
  display: block;
  -webkit-animation: tooltip 0.7s ease forwards;
          animation: tooltip 0.7s ease forwards;
}
/* ==================== / CALCULATOR ==================== */



/* ==================== $SCREEN ==================== */
.screen {
  display: none;
}

.screen--show {
  display: block;
}
/* ==================== / SCREEN ==================== */



/* ==================== $SIDEBAR ==================== */
.sidebar {
  position: fixed;
  top: 40px;
  bottom: 0;
  z-index: 100;
  padding: 10px 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #585858;
  background-color: #f8f8f8;
  -webkit-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

@media (orientation: landscape) {
  .sidebar {
    width: 50%;
    left: -50%;
  }
}

@media (orientation: portrait) {
  .sidebar {
    width: 85%;
    left: -85%;
  }
}

/* ==================== $NAV ==================== */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.nav__btn {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ededed;
  font: inherit;
  font-size: 15px;
  text-align: left;
  background-color: transparent;
  outline: none;
}

.nav__btn:last-child {
  border-bottom: none;
}

.nav__btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 60px;
  height: 1px;
  background-color: #f8f8f8;
}

.nav__btn::after {
  content: "";
  position: absolute;
  right: -14px;
  bottom: -1px;
  width: 15px;
  height: 1px;
  background-color: #ededed;
}

.nav__btn--active {
  color: #6675FF;
}

.nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 44px;
  height: 44px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #6675FF;
  overflow: hidden;
  background-size: 24px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.nav__icon--calculator {
  background-image: url("../img/calc-opt.svg");
}

.nav__icon--something1 {
  background-image: url("../img/calc-opt.svg");
}

.nav__icon--something2 {
  background-image: url("../img/calc-opt.svg");
}

.nav__icon--something3 {
  background-image: url("../img/calc-opt.svg");
}

.nav__icon--something4 {
  background-image: url("../img/calc-opt.svg");
}

.nav__icon--something5 {
  background-image: url("../img/calc-opt.svg");
}
/* ==================== / NAV ==================== */

.sidebar--show {
  left: 0;
}


.overlay {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay--show {
  display: block;
}
/* ==================== / SIDEBAR ==================== */