html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
}

.wrapper {
	position: relative;
	min-width: 850px;
	min-height: 100%;
	overflow: hidden;
}

.wrapper::after {
	content: "";
	display: block;
	height: 220px;
}

.container {
	width: 840px;
	margin: 0 auto;
}

.container_narrow {
	width: 820px;
	margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.header {
	margin-bottom: 30px;
	padding: 5px;
	color: #fff;
	background-color: #008040;
	text-align: center;
}

.header__title {
	margin: 0;
	margin-bottom: 7px;
	font-size: 35px;
}

.header__text {
	margin: 0;
	margin-bottom: 5px;
	font-size: 21px;
}

.services {
	margin-bottom: 30px;
}

.services__title {
	margin: 0;
	margin-bottom: 10px;
	font-size: 27px;
	text-align: center;
}

.services__list {
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset: services-counter;
}

.services__item {
	margin-bottom: 10px;
	font-size: 16px;
	text-align: justify;
}

.services__item::before {
	content: counter(services-counter) ". ";
	counter-increment: services-counter;
	font-weight: 700;
	color: red;
}

.contacts {
	padding: 10px;
	margin-bottom: 30px;
	background-color: #C60304;
	color: #fff;	
}

.contacts__title {
	margin: 0;
	margin-bottom: 10px;
	font-size: 27px;
	text-align: center;
}

.contacts__text {
	margin: 0;
	margin-bottom: 10px;
	font-size: 16px;
	text-align: center;
}

.company {
	margin-bottom: 30px;
}

.company__title {
	margin: 0;
	margin-bottom: 10px;
	font-size: 27px;
	text-align: center;
}

.company__text {
	margin: 0;
	margin-bottom: 10px;
	font-size: 16px;
	text-align: justify;
}

.clients {
	box-sizing: border-box;
	min-height: 298px;
  padding: 20px;
  color: white;
  background: #FF8040;
}

.clients__title {
	margin: 0;
	margin-bottom: 10px;
	font-size: 27px;
	text-align: center;
}

.clients__logos {
	font-size: 0;
}

.clients__ligo {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
  margin-right: 6.5px;
  margin-bottom: 6px;
}

.clients__ligo:nth-child(4n) {
	margin-right: 0;
}

.clients__ligo-link {
	display: block;
}

.clients__ligo-img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	outline: 1px solid black;
}

.footer {
	box-sizing: border-box;
	position: relative;
	min-width: 850px;
	height: 220px;
	margin-top: -220px;
	padding: 200px 0 5px;	
	background-color: #912F00;
}

.footer__copyright {
	font-size: 13px;
	text-align: center;
	color: #fff;
}
